<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :image,
                required: false,
                autofocus: true ,
                input_html: { autocomplete: "Upload une photo"
                } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
<h3>Changer mon mot de passe</h3>
<%= link_to "Changer mon mot de passe", new_user_password_path(current_user) %>
<h3>Effacer mon compte</h3>

<p>Unhappy? <%= link_to "Effacer mon compte", registration_path(resource_name), data: { confirm: "Pas de regrets?" }, method: :delete %></p>

<%= link_to "Back", :back %>
