<table>
  <tbody>
     <% @reservations.each do |reservation| %>
       <tr>
         <td><%= reservation.date %></td>
         <%= reservation.restaurant %>
         <td><%= link_to 'Show', restaurant %></td>
         <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
         <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     <% end %>
   </tbody>
</table>
