<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag'https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/usa-and-canada/massachusetts/boston-common/dining/RCBC%20Artisan%20Bistro.png?$LargeViewport100pct$', class: "photo-restaurant" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag'https://www.demangel.fr/sites/default/files/inline-images/cuisine_collective/cuisine_collective_3.jpg', class: "photo-restaurant" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag'https://www.demangel.fr/sites/default/files/inline-images/cuisine_collective/cuisine_collective_11.jpg', class: "photo-restaurant" %>
    </div>
  </div>

  <div class="card-restaurant">



    <% @restaurant.images.each do |image| %>
      <%= image_tag image, alt: "alttext" %>
    <% end %>


    <h2><%= @restaurant.name %></h2>

    <p>Categorie: <strong><%= @restaurant.category %></strong></p>
      <%= @restaurant.address %>
  </div>

  <div class="card-restaurant">
    <% if user_signed_in? %>
      <p>
        <strong>Faire une reservation</strong>
        <%= simple_form_for [@restaurant, @reservation] do |f| %>

          <div class="form-inputs">
            <%= f.input :date, as: :date, html5: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </p>
    <% end %>
  </div>

  <%= link_to "Retour à l'accueil", restaurants_path, class: "label label-primary"%>

  <% if user_signed_in? && current_user == @restaurant.user %>
    <div class="card-restaurant">
      <p>Je veux modifier la description de mon restaurant</p>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "label label-primary"%>
    </div>
  <% end %>

  <div class="card-restaurant">
    <% @restaurant.reviews.each do |review| %>
      <p>
        <% for n in (1..review.stars) do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <% for n in (review.stars..5) do %>
          <span class="fa fa-star"></span>
        <% end %>
      </p>
      <p><%= review.description %></p>
    <% end %>
    <% if user_signed_in? && current_user.id != @restaurant.user %>
      <input type="radio" name="choice-animals" id="choice-animals-dogs">
      <label for="choice-animals-dogs">
        Ajouter/Changer mon commentaire
      </label>
      <div class="reveal-if-active">
        <input type="text">
        @restaurant.reviews +=
      </div>
    <% end %>
  </div>

</div>
