<div class="container">
  <%= link_to "Retour à l'accueil", restaurants_path, class: "label label-primary link"%>

  <div class="card-restaurant">
    <div class="bar-title">
      <h2><%= @restaurant.name %></h2>
      <% if user_signed_in? && current_user == @restaurant.user %>
          <%= link_to 'Modifier mon restaurant', edit_restaurant_path(@restaurant), class: "label label-primary link"%>
      <% end %>
    </div>
    <div class="largfixe">
        <% @restaurant.images.each do |image| %>
        <div>
          <%= image_tag image, alt: "alttext", class: "photo-restaurant" %>
        </div>
      <% end %>
    </div>

    <p>Categorie: <strong><%= @restaurant.category %></strong></p>
    <p>Adresse: <strong><%= @restaurant.address %></strong></p>
    <p>Description: <%= @restaurant.description %></p>
  </div>

  <div class="card-restaurant">
      <p>
        <strong>Faire une reservation</strong>
        <%= simple_form_for [@restaurant, @reservation] do |f| %>

          <div class="form-inputs">
            <%= f.input :date, as: :date, html5: true, include_blank: false %>
          </div>
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
        <% end %>
      </p>
  </div>

  <% if @restaurant.reviews.present? %>
    <div class="card-restaurant">
      <% @restaurant.reviews.each do |review| %>
        <div class="card-message">
          <div class="message">
            <% if review.writter.image.attached? %>
              <%= image_tag review.writter.image, class: "avatar-bordered" %>
            <% end %>
            <div class="message-name">
              <h3>
                <%= review.writter.firstname %>
                <%= review.writter.lastname %>
              </h3>
              <p>
                <%= review.updated_at %>
              </p>
            </div>
            <div class="message-body">
              <p>
                <strong>
                  <% review.stars.times do %>
                    <span class="glyphicon glyphicon-star checked"></span>
                  <% end %>
                  <% review.blank_stars.times do %>
                    <span class="glyphicon glyphicon-star-empty "></span>
                  <% end %>
                </strong>
              </p>
              <p>
                <%= review.description %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.id != @restaurant.user %>
    <div class="card-message add-comment">
        <button id="review_button" class="btn btn-primary link">Ajouter un commentaire</button>
    </div>
    <div id="review_section" class="card-message hidden">
      <%= simple_form_for [@restaurant, @review] do |f| %>
          <%= f.input :description, as: :text %>
          <%= f.input :stars, collection: 1..5 %>
          <%= f.submit "Envoyer", class: "btn btn-primary" %>
       <% end %>
    </div>
  <% end %>
</div>
