<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Pick a new reservation:</strong>
  <%= simple_form_for [@restaurant, @reservation] do |f| %>

    <div class="form-inputs">
      <%= f.input :date, as: :date, html5: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

  <p>
    <% if @reservations != nil %>
      <strong> My reservations for this restaurant:</strong>
      <% @reservations.each do |reservation| %>
      <%= reservation.date %>
      <% end %>
    <% end %>
  </p>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
